<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Facets</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>STL Model</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.standard-tesselated-geometry-format</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>3MF Model</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.bambulab.3mf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>OBJ Model</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.geometry-definition-format</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.3d-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>STL Model</string>
			<key>UTTypeIdentifier</key>
			<string>public.standard-tesselated-geometry-format</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>stl</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>model/stl</string>
					<string>application/sla</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.3d-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>3MF Model</string>
			<key>UTTypeIdentifier</key>
			<string>com.bambulab.3mf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>3mf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>model/3mf</string>
					<string>application/vnd.ms-package.3dmanufacturing-3dmodel+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.3d-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OBJ Model</string>
			<key>UTTypeIdentifier</key>
			<string>public.geometry-definition-format</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>obj</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>model/obj</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
